.navbar{
  background-color: #423EA2;
  padding: 12px 10px 12px 60px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.19);
  z-index: 1;
  height: 30px;
  position: relative;
}

h2{
  margin: 0;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.6);
}

i.fa{
  float: right;
  margin-right: 20px;
  margin-top: -23px;
  font-size: 25px;
  color: rgba(255,255,255,0.8);
  transition: transform 0.3s;
  cursor: pointer;
}

i.fa:hover{
  transform: rotate(30deg);
}

