<div class="desktop-size navbar">
  <div class="mobile-size">

    <!-- Curve -->
    <svg id="svg-curve" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 50">
      <path d="M0,50 Q 150 -10 300 50"
        stroke="#FAFAFA" 
        fill="#FAFAFA" 
        stroke-width="1"/>
    </svg> 

    <!-- Trello stuff -->

    <div class="rest">
      <div [hidden]="!trelloService.authorized" id="trelloCard" class="no-select">
        {{trelloService.selectedCard.name}}
      </div>

      <div [hidden]="trelloService.authorized" id="loginTrello" (click)="trelloService.authorize(true)">
        <img src="assets/trello-dog-logo.png" alt="TRELLO">
        <span class="no-select">Log in to Trello</span>
      </div>
    </div>
    
  </div>
</div>
