<div class="desktop-size navbar" (window:resize)="positioning()">
  <div class="mobile-size">

    <!-- Curve -->
    <svg id="svg-curve" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 300 50">
      <path d="M0,50 Q 150 -10 300 50"
        stroke="#FAFAFA" 
        fill="#FAFAFA" 
        stroke-width="1"/>
    </svg> 

    <!-- Trello stuff -->

    <div class="rest">
      <!-- Spacer -->
      <div class="spacer"></div>
      <!-- End Spacer -->

      <div id="trelloCard" class="no-select">
        {{trelloService.selectedCard.name}}
      </div>
    </div>
    
  </div>
</div>
