<div [@fade]="in" *ngIf="trelloService.pickerState" class="picker desktop-size">
  <div class="content">

    <div class="header">
      <i [style.visibility]="trelloService.pickerView=='board'?'hidden':'visible'" class="no-select fa fa-arrow-left" (click)="goBack()"></i>
      <h3>Select a {{trelloService.pickerView}}:</h3>
      <i class="no-select fa fa-close" (click)="closePicker()"></i>
    </div>

    <!-- Boards -->
    <div *ngIf="trelloService.pickerView=='board'" class="boards list">
      <div *ngFor="let board of trelloService.Boards" [style.backgroundColor]="trelloColors[board.prefs.background].board" (click)="toLists(board)">
        {{ board.name }}
      </div>
    </div>

    <!-- Lists -->
    <div *ngIf="trelloService.pickerView=='list'" class="lists list">
      <div *ngFor="let list of trelloService.Lists[trelloService.selectedBoard.id]" [style.backgroundColor]="trelloColors[trelloService.selectedBoard.prefs.background].list" (click)="toCards(list)">
        {{ list.name }}
      </div>

      <div *ngIf="trelloService.Lists[trelloService.selectedBoard.id].length == 0">
        No lists.
      </div>
    </div>

    <!-- Items -->
    <div *ngIf="trelloService.pickerView=='card'" class="cards list" [style.backgroundColor]="trelloColors[trelloService.selectedBoard.prefs.background].list">
      <div *ngFor="let card of trelloService.Cards[trelloService.selectedList.id]" (click)="selectCard(card)">
        {{ card.name }}
      </div>

      <div *ngIf="trelloService.Cards[trelloService.selectedList.id].length == 0">
        No cards.
      </div>
    </div>
  </div>
</div>