.timer{
  /*background-color: white;*/
}

/* Circles */
.circles{
  height: 250px;
  overflow: hidden;
}
.circle{
  width: 220px;
  height: 220px;
  clear: both;
  position: absolute;
  top: 90px;
  left: calc(50vw - 110px);
}

/* Settings */
#controls{
  position: absolute;
  top: 120px;
  width: 220px;
  text-align: center;
  left: calc(50vw - 110px);
  color: #333;
}

#controls h1{
  font-weight: bolder;
  font-size: 40px;
}

.fa{
  cursor: pointer;
}

#controls span{
  font-size: 25px;
  padding-right: 10px;
}

/* State */
#state{
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 20px;
}
