
/* Circles */
.circles{
  height: 250px;
  overflow: hidden;
}
.circle{
  width: 220px;
  height: 220px;
  clear: both;
  position: absolute;
  top: 70px;
  left: calc(50vw - 110px);
}

/* Settings */
#controls{
  position: absolute;
  top: 120px;
  width: 220px;
  text-align: center;
  left: calc(50vw - 110px);
  color: #333;
}

#controls h1{
  font-weight: bolder;
  font-size: 40px;
}

#play{
  width: 70px;
  height: 70px;
  background-color: #FF7BD8;
  border-radius: 50px;
  color: white;
  margin: auto;
  font-size: 35px;
  cursor: pointer;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.19);
  box-sizing: border-box;
  padding-top: 15px;
  margin-top: 175px;
  text-align: center;
}

#play:hover{
  box-shadow: 0px 0px 4px rgba(0,0,0,0.19);
}

#time{
  position: absolute;
  top: 140px;
  width: 300px;
  left: calc(50vw - 150px);
}

#time span {
  margin: auto;
  float: left;
  font-size: 60px;
  color: white;
  width: 130px;
  text-align: left;
  margin: 0 10px;
}

#time span:first-child{
  text-align: right;
}